#crud-modal {
  animation: modalAppear 0.5s ease-in-out;
}

@keyframes modalAppear {
  from {
    top: -200vh;
  }

  to {
    bottom: 0vh;
  }
}


.view {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.today {
  background-color: green;
}

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#month-year {
  font-size: 1.5em;
  font-weight: bold;
}

#agenda {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 60%;
}

#agenda .day {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#agenda .day.empty {
  background-color: #353535;
  color: white;
}

#agenda .day .date {
  font-size: 1.2em;
}

.appointments {
  position: absolute;
  bottom: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.appointment-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.appointment-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

#popup {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 100;
  display: none;
}

#popup.visible {
  display: block;
}

.hidden {
  display: none;
}