body {
  background-color: #322e2e;
}

#dates {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  width: 15%;
}

#crud-modal {
  animation: modalAppear 0.5s ease-in-out;
}

@keyframes modalAppear {
  from {
    top: -200vh;
  }

  to {
    bottom: 0vh;
  }
}